.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 120px;
  background: #f60;
}

.container {
  flex: 1;
}

.footer {
  height: 80px;
  color: #fff;
  background: #212121;
}
